<div class="page-product">

  <div class="detail" *ngIf="product" >
    <div class="gallery">
      <swiper [slidesPerView]="1">
        <ng-template swiperSlide   >
         <app-img-cart [img]="product.image" ></app-img-cart>
        </ng-template>
      </swiper>
    </div>
      <div appHighlight>

        <h1 class="productDetail" >{{product.name }}  </h1>
        <h2 class="productDetail"  >Precio {{product.price|currency }}  </h2>
        <h2 class="productDetail" > {{product.category}} </h2>
        <p class="productDetail" >{{product.description}} </p>

      </div>

      <button  (click)="goToBack()" type="button " class="pi pi-chevron-circle-left  btn btn-secondary btn-lg active"> BACK TO PRODUCTS</button>
      <button type="button " class="pi pi-shopping-cart  btn btn-success btn-lg "> ADD TO SHOPPING CART </button>
  </div>


</div>
