.formProduct {
  width: 421px;
  margin-left: 39px;
  margin-top: 20px;

}

.productSide{
  width:20%;
  margin-left: 43px;
  margin-top:20px;
}
#imgApp{
  margin-left:50px;
}

.formGrup{
  width:23%;
  margin-left:10px;
  margin-top:20px;

}
.aditional{
  margin-left:60px;
}

.is-link{
  width: 100px;
}

.save{
  width: 100px;
  height: 40px;
}

#save{
  width:30%;
}

#delete{
  width:36%;
}

.field {
  margin-top:10px;
}
