
  <div class="formProduct">

    <form [formGroup]="contactForm" >

      <div class="field">
        <label for="name" class="label">Id</label>
        <div class="control">
          <input #inputName class="input" id="id" name="id" required formControlName="id" type="number" placeholder="Text input" />

          <div *ngIf="contactForm.get('id')?.touched && contactForm.get('id')?.errors?.['required'] "  class="alert alert-danger"> required field</div>

        </div>
      </div>

    <div class="field">
      <label for="name" class="label">Name</label>
      <div class="control">
        <input #inputName class="input" id="name" name="name" required formControlName="name" type="text" placeholder="Text input" />

        <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required'] "  class="alert alert-danger"> required field</div>
        <div *ngIf="contactForm.get('name')?.touched &&contactForm.get('name')?.errors?.['minlength'] " class="alert alert-danger">min length should be longer than {{contactForm.get('name')?.errors?.['minlength'].requiredLength  }}  </div>
      </div>
    </div>
    <div class="field">
      <label class="label">price</label>
      <div class="control">
        <input
        id="price"
        name="price"
        formControlName="price"
     #inputPrice
          id="image"
          class="input"
          type="number"
          placeholder="Text input"
        />

        <div *ngIf="contactForm.get('price')?.touched && contactForm.get('price')?.errors?.['required'] "  class="alert alert-danger"> Required Field</div>

      </div>
    </div>
    <div class="field">
      <label class="label">image</label>
      <div class="control">
        <input #inputImage name="image" id="image" formControlName="image" class="input" type="text" placeholder="Text input" />
        <div *ngIf="contactForm.get('image')?.touched && contactForm.get('image')?.errors?.['required'] "  class="alert alert-danger"> Required Field</div>
      </div>
    </div>
    <div class="field">
      <label class="label">description</label>
      <div class="control">
        <input
          #inputDescription
          class="input"
          type="text"
          placeholder="Text input"
          name="description"
          formControlName="description"
          id="description"
        />

        <div *ngIf="contactForm.get('description')?.touched && contactForm.get('description')?.errors?.['required'] "  class="alert alert-danger"> Required Field</div>
        <div *ngIf="contactForm.get('description')?.touched &&contactForm.get('description')?.errors?.['minlength'] " class="alert alert-danger">min length should be longer than {{contactForm.get('description')?.errors?.['minlength'].requiredLength  }}  </div>
      </div>
    </div>

    <div class="field">
      <div class="mb-4">

        <label for="categories" class="form-label"> Category</label>
        <select  name="productCategory" id="productCategory" class="form-select form-select-sm"   formControlName="productCategory" >
          <option selected>Open this select menu</option>
            <option *ngFor=" let category of categories" [value]="category.id" > {{category.category}} </option>


        </select>


          </div>
    </div>



  </form>

    <div class="field is-grouped">
      <div class="control">
        <button  [disabled]="contactForm.invalid" [ngClass] ="classStyle"

            (click)="
              onCreateProduct()
            "
            type="submit"
          >
            Create {{ label }}

      </button>
      </div>
      <div class="control">
        <button   class="button is-link is-light">Cancel</button>
      </div>
    </div>


  </div>




